<ul class="list--inline pagination">
  {% unless paginate.previous.is_link %}
    <li aria-hidden="true">
      <button class="btn btn--tertiary btn--narrow" disabled>
        <span class="icon__fallback-text"><</span>
      </button>
    </li>
    {% else %}
    <li>
      <a href="{{ paginate.previous.url }}" class="btn btn--tertiary btn--narrow">
        <span class="icon__fallback-text"><</span>
      </a>
    </li>
  {% endunless %}
  <li class="pagination__text">
    Página {{{ paginate.current_page }} de {{ paginate.pages }}
  </li>
  {% unless paginate.next.is_link %}
    <li aria-hidden="true">
      <button class="btn btn--tertiary btn--narrow" disabled>
        <span class="icon__fallback-text">></span>
      </button>
    </li>
  {% else %}
    <li>
      <a href="{{ paginate.next.url }}" class="btn btn--tertiary btn--narrow">
        <span class="icon__fallback-text">></span>
      </a>
    </li>
  {% endunless %}
</ul>
