@charset 'UTF-8';

@import url('./sections/header.scss');
@import url('./sections/biroslideshow.scss');
@import url('./sections/collection.scss');
@import url('./sections/tree-rows-section.scss');

@import url('./theme-online/old-theme.scss');

@import url('./templates/search.scss');

// vendors

@import url('./vendors/slick.scss');